@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&family=Roboto+Flex:opsz,wdth,wght@8..144,25..151,100..1000&display=swap");
@import "./styles/typography.css";

/* Minimal browser-style reset. Add project-specific styles in App.css. */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button,
input,
textarea,
select {
  font: inherit;
  margin: 0;
}

button,
[role="button"] {
  cursor: pointer;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

:root {
  /* Colors */
  --color-background: #030406;
  --color-text-primary: #d6d6d6;
  --color-text-secondary: #6d9ba8;
  --color-text-telemetry: rgb(from var(--color-cyan) r g b / 75%);

  --color-red: #ce1918;
  --color-cyan: #01a5d9;
  --color-yellow: #ebd302;

  --color-border: rgb(135 171 184 / 22%);

  --font-display: "Roboto Flex", sans-serif;
  --font-mono: "IBM Plex Mono", monospace;
}
